@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #9EF8EE;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1{
    text-align: left;
    font-size: 2em;
    color: #F24405;
}

h2{
    text-indent: 10px;
}

p{
    text-align: justify;
}

#principal{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color:  #FA7F08;
}

.subt{
    font-size: 2.5em;
    font-weight: 500;
    color: #FA7F08;
    background-image: linear-gradient(to right, #01415B ,#005148);
}

.basico{
    color: #c93b0f;

}

.intermediario{
    color: #da8a1a;

}

.avançado{
    color:#918318;

}